html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    width: 80%;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.form-layout {
    display: flex;
    flex-direction: column;
}
label {
    margin: 0.9rem 0 0.1rem;
}

.addResult {
    border: 0.05rem solid #ddd;
    border-radius: 0.6rem;
    min-height: 3rem;
    min-width: 50%;
    padding: 1rem;
}

.submitBtn {
    max-width: max-content;
    height: 3rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.input-digits {
    text-align: right;
    padding: 0.2rem 0.5rem;
}
